.git
.github
.cache
data
runtime
artifacts
references
*.pk4
*.PK4
*.pk3
*.PK3
build/*
!build/web/
!build/web/index.html
!build/web/d3-worker.js
!build/web/dhewm3-base.js
!build/web/dhewm3-base.wasm
!build/web/dhewm3-roe.js
!build/web/dhewm3-roe.wasm
!build/native/
!build/native/dhewm3
!build/native/base.so
!build/native/d3xp.so
!build/server/
!build/server/dhewm3ded
!build/server/base.so
!build/server/d3xp.so
