.git
.github
.cache
data
runtime
artifacts
references
*.pk4
*.PK4
*.pk3
*.PK3
build/*
!build/web/
!build/web/dhewm3.js
!build/web/dhewm3.wasm
!build/native/
!build/native/dhewm3
!build/native/base.so
!build/native/d3xp.so
!build/server/
!build/server/dhewm3ded
!build/server/base.so
!build/server/d3xp.so
