.git
.github
.cache
data
runtime
artifacts
references
*.pk4
*.PK4
*.pk3
*.PK3
build/*
!build/web/
!build/web/d3-worker.js
!build/web/game-adapter.js
!build/web/wasm-game.json
!build/web/wasm-game-data.json
!build/web/wasm-game-framework.json
!build/web/doom3.ico
!build/web/dhewm3-base.js
!build/web/dhewm3-base.wasm
!build/web/dhewm3-roe.js
!build/web/dhewm3-roe.wasm
